body { 
  margin: 0; 
  overflow: hidden; 
  background: #000; 
}
#root { 
  width: 100vw; 
  height: 100vh; 
}
/* Crosshair */
.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
}
.crosshair::before, .crosshair::after {
  content: '';
  position: absolute;
  background: white;
}
.crosshair::before { top: 9px; left: 0; width: 20px; height: 2px; }
.crosshair::after { left: 9px; top: 0; width: 2px; height: 20px; }